body {
  background-color: var(--logo_brown);
}

span {
  text-decoration: underline whitesmoke;
  font-style: italic;
}

.wrapper {
  position: relative;
}

.image {
  opacity: 0;
  width: 100%;
  min-width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  animation: fade-in 1.25s 1;
  animation-delay: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.text_overlay {
  opacity: 0;
  max-width: 800px;
  color: whitesmoke;
  font-weight: bolder;
  font-size: 225%;
  position: absolute;
  left: 0;
  top: 16%;
  bottom: auto;
  animation: slide_left 2s 1;
  animation-delay: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@media only screen and (max-width: 1400px) {
  .text_overlay {
    opacity: 0;
    max-width: 800px;
    color: whitesmoke;
    font-weight: bolder;
    font-size: 225%;
    position: absolute;
    left: 0;
    top: 4%;
    bottom: auto;
    animation: slide_left 2s 1;
    animation-delay: 1.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
}

@keyframes slide_left {
  from {opacity: 0; left: 0px;}
  to {opacity: 1; left: 5%;}
}

